---
layout: archive
---

{{ content }}

<section class="taxonomy__section">
  <div class="page__meta">
          {% if site.data.ui-text[site.locale].meta_label %}
            <h4 class="page__meta-title">{{ site.data.ui-text[site.locale].meta_label }}</h4>
          {% endif %}
          {% include page__taxonomy.html %}
          {% if page.last_modified_at %}
            <p class="page__date"><strong><i class="fas fa-fw fa-calendar-alt" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Updated:" }}</strong> <time datetime="{{ page.last_modified_at | date: "%Y-%m-%d" }}">{{ page.last_modified_at | date: "%B %d, %Y" }}</time></p>
          {% elsif page.date %}
            <p class="page__date"><strong><i class="fas fa-fw fa-calendar-alt" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Updated:" }}</strong> <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time></p>
          {% endif %}
  </div>
  <a href="#page-title" class="back-to-top">Back to Top &uarr;</a>
</section>

<div id="lv-container" data-id="city" data-uid="MTAyMC8zOTI2NC8xNTc5MQ==">
    <script type="text/javascript">
   (function(d, s) {
       var j, e = d.getElementsByTagName(s)[0];

       if (typeof LivereTower === 'function') { return; }

       j = d.createElement(s);
       j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
       j.async = true;

       e.parentNode.insertBefore(j, e);
   })(document, 'script');
    </script>
</div>